.CATALOG_PAGE {

    .CatalogItems {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 16em));
        justify-content: space-between;
        padding: 0.5em 0 6em 0;
        overflow: hidden;
        gap: 2em;

        > div {
            width: auto;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 1em;
            border-radius: 0.4em;
            background-color: rgba(#2c3949, 0.1);

            > img {
                width: 100%;
                scale: 0.9;
                border-radius: 0.2em;
            }

            > h2 {
                margin: 0.1em 0;
                text-align: center;
            }

            > a {
                text-decoration: none;
                color: #2c3949;
                font-size: 1.2em;
                text-align: center;
                padding: 0.1em;
            }
            > a:not(:last-of-type) {
                border-bottom: 0.1em solid #2c3949;
            }
        }
    }
}