body {
  margin: 0;
  color: black;
  font-family: Verdana, Times, serif;
  font-weight: bold;
  background-color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 5em auto 0 auto;
  max-width: 80em;
  padding: 0 3em;
  z-index: 5;
}