body {
  margin: 0;
  color: black;
  font-family: Verdana, Times, serif;
  font-weight: bold;
  background-color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
